<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />            
        </handlers>
        <httpPlatform stdoutLogEnabled="true" processesPerApplication="1" stdoutLogFile="log\rails.log" startupTimeLimit="20" processPath="C:\Ruby24-x64\bin\ruby.exe" arguments="-S puma --env production --dir C:\inetpub\wwwroot\live\<your-project-folder-name> -p %HTTP_PLATFORM_PORT% ">
            <environmentVariables>              
              <environmentVariable name="RAILS_ENV" value="production" />  
              <environmentVariable name="SECRET_KEY_BASE" value="<generate-your-secret-key>" />         
            </environmentVariables>            
        </httpPlatform>        
    </system.webServer>    
</configuration>
